<br>
<h2> USER-PRODUCT </h2>
<br>
<div class="login-form">
  <form >
    <h2 class="text-center">Login</h2>
    <div class="form-group has-error">
      <input type="text" class="form-control" (keyup)="onnameKeyUp($event)" placeholder="Username" required="required">
    </div><br><br>
    <div class="form-group">
      <input type="password" class="form-control" (keyup)="onpassKeyUp($event)"placeholder="Password" required="required">
    </div><br><br>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="validate2()" >Sign in</button>
    </div>
    <p>
      <a routerLink="/adminlogin">Admin login</a>
    </p>
  </form>
  <p class="text-center small">Don't have an account?
    <a routerLink="/signup">Sign up here!</a>
  </p>
